/*
* globals.css
*
* Global styles for mirror application
*/

/* import tailwindcss */
@import "tailwindcss";
@import "tw-animate-css";

/* import shared styles from @feel-good/ui */
@import "@feel-good/ui/styles.css";

/* local styles */
@import "./fonts.css";

/* content sources */
@source "../node_modules/@feel-good/ui";

/* mirror-specific overrides */
:root {
  --background: var(--gray-1);
  --foreground: var(--gray-12);

  /* Button */
  --primary: var(--gray-12);
  --primary-foreground: var(--gray-1);

  --secondary: var(--gray-10);
  --secondary-foreground: var(--gray-12);
}

.dark {
  --background: var(--gray-1);
  --foreground: var(--gray-12);

  /* Button */
  --primary: var(--gray-12);
  --primary-foreground: var(--gray-1);

  --secondary: var(--gray-10);
  --secondary-foreground: var(--gray-12);
}
